<article>
  <form class="container">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-6 col-4">
        <div class="form-group">
          <label for="productName">
            Nombre del Producto
          </label>
          <input type="text" id="productName" class="form-control" placeholder="Ingrese el nombre del producto">
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-4">
        <div class="form-group">
          <label for="productName">
            Nombre del Producto
          </label>
          <input type="text" id="productName" class="form-control" placeholder="Ingrese el nombre del producto">
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-4">
        <div class="form-group">
          <label for="productName">
            Nombre del Producto
          </label>
          <input type="text" id="productName" class="form-control" placeholder="Ingrese el nombre del producto">
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-4">
        <div class="form-group">
          <label for="productName">
            Nombre del Producto
          </label>
          <input type="text" id="productName" class="form-control" placeholder="Ingrese el nombre del producto">
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-4">
        <div class="form-group">
          <label for="productName">
            Nombre del Producto
          </label>
          <input type="text" id="productName" class="form-control" placeholder="Ingrese el nombre del producto">
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-4">
        <div class="form-group">
          <label for="productName">
            Nombre del Producto
          </label>
          <input type="text" id="productName" class="form-control" placeholder="Ingrese el nombre del producto">
        </div>
      </div>

    </div>
  </form>
</article>
